<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Default/Index" aria-expanded="false">
                    <i class="icon-direction menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/AdminDashboard/Index" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAboutUs/Index" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Misafir</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mail Box</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mail Gönder</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Konumları</span>
                </a>
            </li>
            <li>
                <a href="/AdminRole/Index" aria-expanded="false">
                    <i class="icon-rocket menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoleAssign/Index" aria-expanded="false">
                    <i class="icon-refresh menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index" aria-expanded="false">
                    <i class="icon-options menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>
