@model List<ResultAboutUsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık 1</th>
        <th>Başlık 1</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutUsId</td>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td><a href="/AdminAboutUs/UpdateAboutUs/@item.AboutUsId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Personel Girişi</a>
