@model AdminMailViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Alıcının Mail Adresi</label>
    <input type="text" class="form-control" asp-for="ReceiverMail" />
    <br />
    <label>Alıcının Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Alıcının Mail Adresi</label>
    <textarea type="text" class="form-control h-150px" rows="6" asp-for="Body"></textarea>
    <br />
    <button class="btn btn-primary">Mail Gönder</button>
</form>